<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<http pattern="/resources/**" security="none" />	
	

	<http auto-config="true">
	  <intercept-url pattern="/secured/*" access="ROLE_USER" />
		<form-login login-processing-url="/login" login-page="/loginPage"
			username-parameter="username" password-parameter="password"
			default-target-url="/secured/main" authentication-failure-url="/loginPage?auth=fail" />
		<logout logout-url="/logout" logout-success-url="/indexPage" />	    
	</http>
	
	<authentication-manager>
		<authentication-provider user-service-ref="customUserDetailsService">
		</authentication-provider>
	</authentication-manager>
	
</beans:beans>